<header class="h-40 w-full flex items-center justify-between px-10">
  <!-- NAVIGATION -->
  <button class="w-14 h-14">
    {% render 'menu-icon' %}
  </button>
  <nav class="container mx-auto h-full mx-auto w-max ">
    <ul class="items-center gap-16 h-full hidden sm:flex ">
      {% for link in linklists.main-menu.links %}
        {% assign linkHandle = link.handle | replace: '-', '_' %}
        <a class="h-full" href="{{ link.url }}">
          <li
            x-data="{ {{ linkHandle }} : false }"
            x-on:mouseover="{{linkHandle}} = true"
            x-on:mouseout="{{linkHandle}} = false"
            class="relative px-4 text-2xl h-full w-max flex items-center justify-center font-bold uppercase text-primary">
            {{ link.title }}
            <span x-show="{{linkHandle}}" class="bg-primary h-1.5 w-full absolute bottom-0"></span>
          </li>
        </a>

      {% endfor %}
    </ul>
  </nav>

  <a class="w-14 h-14 hover:scale-105 transition hover:rotate-6" href="{{ routes.cart_url }}">
    {% render 'icon-cart-new' %}
  </a>

</header>