<!-- Slider main container -->
<div class="swiperBanner swiper overflow-hidden h-full ">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper h-full ">
    <!-- Slides -->
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "banner" %}
        <div class="swiper-slide bg-primary bg-opacity-10 w-full relative h-full py-20 px-6 lg:px-0 ">
          <div class="mx-auto inset-x-0 max-w-screen-lg flex flex-col-reverse gap-16 md:gap-0 md:flex-row items-center justify-between h-full ">
            <div class="md:w-2/5 sm:w-[80%] text-center md:text-left flex flex-col gap-8 ">
              {% if block.settings.heading != blank %}
                <h2 class="text-7xl 2xl:text-8xl font-black tracking-[0px] text-primary">{{ block.settings.heading }}</h2>
              {% endif %}
              {% if block.settings.text != blank %}
                <p class="text-2xl text-primary hidden md:block">{{ block.settings.text }}</p>
              {% endif %}
              <div class="w-1/2 md:w-full grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-6 pb-16 md:pb-0 mx-auto">
                {% if block.settings.buttonPrimary != blank %}
                  <a href="{{ block.settings.urlButtonPrimary }}" class="bg-primary p-10 md:py-5 text-white rounded-xl hover:bg-opacity-90 transition w-full flex items-center justify-center gap-4 md:gap-0 md:justify-between uppercase font-semibold text-md">
                    {{ block.settings.buttonPrimary }}
                    {% render 'chevron-icon' %}
                  </a>
                {% endif %}
                {% if block.settings.buttonSecondary != blank %}
                  <a href="{{ block.settings.urlButtonSecondary }}" class="bg-transparent md:border border-primary px-10 py-5 text-gray-900 md:text-primary rounded-xl hover:bg-opacity-90 transition w-full flex items-center justify-center md:justify-between  uppercase font-semibold text-md	">
                    {{ block.settings.buttonSecondary }}
                    <span class="hidden md:block">{% render 'chevron-icon' %}</span>
                  </a>
                {% endif %}
              </div>
            </div>
            {% if block.settings.image != blank %}
              <img
                class="h-[35rem] w-[35rem] md:h-[40rem] md:w-[40rem] rounded-xl object-cover object-top"
                src="{{ block.settings.image | img_url: 'large'}}"
                loading="lazy"
                alt="{{ block.settings.image.alt }}">
            {% else %}
              {% assign placeholderImage = "lifestyle-1" %}
              {{ placeholderImage | placeholder_svg_tag: "h-[35rem] w-[35rem] h-[40rem] w-[40rem] bg-white rounded-xl object-cover object-top" }}
            {% endif %}

          </div>
        </div>

    {% else %}

      {% endcase %}

    {% endfor %}

  </div>

  <!-- If we need navigation buttons -->
  <div class="absolute bottom-10 w-max md:w-full mx-auto inset-x-0 max-w-screen-lg z-50 flex items-center gap-2  px-6 lg:px-0">
    <button x-on:click="" class="button-prev-swiper cursor-pointer disabled:text-primary text-white bg-primary disabled:bg-transparent rounded-full py-3 px-6 border-2 border-primary w-max">
      {% render 'arrow-icon' %}
    </button>
    <button class="button-next-swiper cursor-pointer disabled:text-primary text-white bg-primary disabled:bg-transparent rounded-full py-3 px-6 border-2 border-primary w-max rotate-180">
      {% render 'arrow-icon' %}
    </button>
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "blocks": [
      {
        "type": "banner",
        "name": "banner",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "buttonPrimary",
            "label": "Text Button Primary"
          }, {
            "type": "url",
            "id": "urlButtonPrimary",
            "label": "Url Button Primary"
          }, {
            "type": "text",
            "id": "buttonSecondary",
            "label": "Text Button Secondary"
          }, {
            "type": "url",
            "id": "urlButtonSecondary",
            "label": "Url Button Secondary"
          }
        ]
      }
    ]
  }
{% endschema %}

<script>
  const swiperBanner = new Swiper(".swiperBanner", {

    // Optional parameters
    direction: "horizontal",
    loop: false,

// If we need pagination
    pagination: {
      el: ".swiper-pagination"
    },

// Navigation arrows
    navigation: {
      nextEl: ".button-next-swiper",
      prevEl: ".button-prev-swiper"
    },

// And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar"
    }
  });
</script>